@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.body {
    position: absolute;
    background-color: #a6a4a4;
}

.intro {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #0000ff;
    font-size: 3em;
}

.preload {
    animation: fadein 4s;
}

.header-main {
    animation: fadeindelay-header 8s;
    /* animation-delay: 3s; */
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeindelay-header {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

/* Deprecated

/* BREATHING ANIMATION 
.breathing-animation {
    animation: breathing 4s ease-out infinite normal;
}


/* CIRCLE 
.circle-breathing {
    width: 30px;
    max-width: 20%;
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #0000ff;
    position: absolute;
    top: 50%;
    left: 50%;
    /* -webkit-animation: breathing 5s ease-out infinite normal; 
    animation: breathing 5s ease-out infinite normal;
    animation: fadeindelay-circle 10s;
    -webkit-font-smoothing: antialiased;

}

@keyframes fadeindelay-circle {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    50% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    90% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
   
}



@keyframes breathing {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    5% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }
    50% {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }
    90% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
}


*/ 


/* 
@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
   */